.banner{
  width: 100%;
  min-height: 1010px;
  color:white;
  position: relative;
  .bannerItemImage {
    height: 1010px;
    width: 100%;
    filter: brightness(60%);
  }
  .dots {
    bottom: 150px;
    li {
      margin-right: 28px;
      width: 20px!important;
      height: 20px;
      overflow: hidden;
      border-radius: 50%;
      button {
        border-radius: 50%;
        height: 20px;
      }
    }
  }
  .bannerContent {
    position: absolute;
    background-size: 100% auto;
    top: 151px;
    left: 268px;
    max-height: 859px;
    overflow: auto;
    .title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 88px;
      width: 800px;
      position: relative;
      .nyc {
        font-size: 60px;
        -webkit-text-stroke: 1px white; //文字描边
        position: absolute;
        color: transparent;
        left: 0px;
      }
    }
    .description{
      // width: 52%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      margin-top: 100px;
      color: #d5d5d5;
    }
    .meetingCome {
      width: 1086px;
      height: 597px;
      position: absolute;
      background: url(../../public/meetCome.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: -234px;
      left: 228px;
    }
    .bannerBackground {
      margin-left: 372px;
      width: 805px;
      height: 590px;
      background-image: url(../../public/maskPeople.png);
      background-size: 100% 100%;
    }
    .meetingInfo {
      width: 100%;
      height: 147px;
      margin-top: 180px;
      box-sizing: border-box;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      color: #ffffff;
      display: flex;
      .clockimg{
        width: 77px;
        height: 77px;
      }
      .meetInfoContent {
        display: flex;
        flex-direction: column;
        margin-left: 19px;
        .infoAddress {
          font-size: 40px;
          .logoimg{
            width: 35px;
            height: 35px;
          }
        }
        .date {
          font-weight: bold;
          color: rgba(253, 167, 0, 1);
        }
      }
    }
  }
}