.banner{
  width: 100%;
  min-height: 100vh;
  color:white;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .75) url(../../public/ny-bg.jpg);
  background-blend-mode: darken;
  // background: url(../../public/banner.png);
  background-size: 100% 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  // align-items: center;
  .bannerContent {
    // @apply max-w-7xl
    max-width: 1440px;
    // margin: 0 auto;
    background-size: 100% auto;
    padding-top: 70px;
    background-repeat: no-repeat;
    .title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 72px;
    }
    .description{
      width: 50%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      opacity: 60%;
    }
    .meetingCome {
      width: 1086px;
      height: 597px;
      position: absolute;
      background: url(../../public/meetCome.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: -234px;
      left: 228px;
    }
    .bannerBackground {
      margin-left: 372px;
      width: 805px;
      height: 590px;
      background-image: url(../../public/maskPeople.png);
      background-size: 100% 100%;
    }
    .meetingInfo {
      width: 100%;
      height: 147px;
      margin-top: 100px;
      box-sizing: border-box;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      color: #ffffff;
      display: flex;
      .clockimg{
        width: 77px;
        height: 77px;
      }
      .meetInfoContent {
        display: flex;
        flex-direction: column;
        margin-left: 19px;
        .infoAddress {
          font-size: 40px;
          .logoimg{
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}