.footerV2 {
  padding: 100px 358px;
  padding-bottom: 148px;
  background: url(../../public/v2/footer_bg.png) no-repeat;
  background-size: 100% 904px;
  background-position-y: 100%;
  background-color: black;
}
.title {
  font-family: 'DengXian';
  font-style: normal;
  font-weight: 700;
  margin-left: 31px;
  font-size: 26px;
  color: rgba(187, 187, 187, 1);
  margin-bottom: 68px;
}
.iconList {
  display: flex;
  flex-wrap: wrap;
  &::after{
    content: '';
    margin-left: auto;
  }
}
.strategicPartners {
  margin-bottom: 91px;
  .strategicPartnersIcon {
    width: 150px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 62px;
  }
}
.summitPartners {
  margin-bottom: 232px;
  .summitPartnersIcon {
    width: 150px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 62px;
  }
}
.footerBottom {
  .bbs {
    min-height: 190px;
    display: flex;
    justify-content: space-between;
    .bbsLeft {
      width: 460px;
      height: 100%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #CCCCCC;
      .footerBbs {
        width: 99px;
        height: 97px;
        margin-right: 20px;
      }
    }
  }
  .concat {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .concatItem {
      margin-right: 50px;
      display: flex;
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 24px;
      align-items: center;
      cursor: pointer;
      color: #CCCCCC;
    }
    .concatIcon {
      width: 30px;
      height: 28px;
      margin-right: 10px;
    }
  }
  .footerAddress {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    color: #aeaeae;
    margin-top: 40px;
  }
}
.aStyle {
  color:#fff;
}
.bbsRight {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-style: normal;
  flex: 1;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  padding-top: 35px;
  opacity: 0.9;
  .rightTop {
    margin-bottom: 21px;
    margin-right: 60px;
    text-align: right;
  }
  .rightBottom {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    .rightBottomTextItem {
      cursor: pointer;
      margin-right: 3.3%;
    }
  }
}