.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  padding: 10px 163px 10px 254px;
  left: 0;
  height: 70px;
  background: #000000;
  // background: linear-gradient(90.15deg, #BD00FF 2.49%, #0500FF 64.27%, #0500FF 104.68%);
  box-shadow: 0px 15px 10px rgba(2, 2, 2, 0.25);
  img{
    width: 69px;
    height: 54px;
  }
  .navUl {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 61px;
    flex: 1;
    .navLi {
      display: inline-block;
      margin-right: 67px;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      cursor: pointer;
      font-size: 26px;
      text-transform: capitalize;
      color: #FFFFFF;
    }
  }
  .ticketButton {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    // background: black;
    border: solid white 2px;
    // background: linear-gradient(93.71deg, #FF00C7 -6.58%, #0047FF 104.41%);
    border-radius: 38px;
    font-family: 'Montserrat';
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}