.navBar {
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 99;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  padding: 0 256px;
  // padding: 10px 163px 10px 254px;
  left: 0;
  min-height: 80px;
  background: #000000;
  box-shadow: 0px 15px 10px rgba(2, 2, 2, 0.25);
  .logoContent {
    display: flex;
    img{
      width: 69px;
      height: 69px;
    }
  }
  .navUl {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 71px;
    flex: 1;
    .navLi {
      display: inline-block;
      margin-right: 67px;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      cursor: pointer;
      font-size: 26px;
      text-transform: capitalize;
      color: #FFFFFF;
    }
  }
  .ticketButton {
    min-width: 130px;
    padding: 10px 15px;
    text-align: center;
    border: solid white 2px;
    font-family: 'Montserrat';
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}