.sponsorTypesContent {
  margin: 0 355px;
  display: flex;
  justify-content: space-between;
}
.title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  width: 182px;
  color: rgba(253, 167, 0, 1);
}
.image {
  width: 912px;
  height: 1214px;
}