.footer {
    padding: 155px 145px;
    background-color: black;
    box-sizing: border-box;
    .footer_nav{
      margin: auto;
      width: 1520px;
      height: 49px;
      display: flex;
      justify-content: center;
      background-color: black;
      position: relative;
      li{
        list-style: none;
        width: 173px;
        line-height: 49px;
        font-family: 'Montserrat';
        letter-spacing: -0.015em;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.015em;
        text-align: center;

      }
      li:nth-child(4){
        margin-left: 406px;
      }
      span{
        position: absolute;
        left: 50%;
        transform: translate(-72px);
        width: 154px;
        height: 49px;
        font-family: 'Impact';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        background: linear-gradient(93.67deg, #FF00C7 -9.08%, #0500FF 104.38%, #0500FF 104.39%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    .footer_line{
      position: absolute;
      left: 0;
      height: 2px;
      width: 1920px;
      margin-top: 15px;
      background: linear-gradient(45deg, #FF00C7, #0500FF , #0500FF);
    }
    .footer_social{
      padding-left: 0;
      padding-top: 58px;
      margin:auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li{
        margin-right: 43px;
        img{
          width: 59px;
          height: 59px;
        }
      }
      li:nth-child(4){
        margin-right: 0;
      }
    }
    .footer_tips{
      padding-top: 40px;
      display: block;
      margin: auto;
      width: 301px;
      height: 24px;
      left: 810px;
      top: 7483px;      

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      /* identical to box height, or 160% */

      text-align: center;
      letter-spacing: -0.015em;

color: rgba(255, 255, 255, 0.8);
    }
    .topArea {
      display: flex;
      justify-content: space-between;
  
      .footerTitle {
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
        color: #333333;
        margin: 0;
      }
  
      .linkListArea {
        display: flex;
        .linkArea {
          display: flex;
          flex-direction: column;
          margin-left: 160px;
          .title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            margin-bottom: 40px;
          }
  
          .links {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
  
            .link {
              color: #333333;
              cursor: pointer;
              margin-bottom: 24px;
            }
  
            .disabled {
              color: #666;
              cursor: not-allowed;
              margin-bottom: 24px;
            }
          }
        }
      }
    }
  
    .bottomArea {
      display: flex;
      justify-content: space-between;
      .codeArea {
        display: flex;
        flex-direction: column;
        .text {
          color: #666;
        }
      }
      .numArea {
        color: #666;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
  
        span {
          margin-bottom: 12px;
        }
  
        .publicLogo {
          display: flex;
  
          .logo {
            margin-right: 4px;
          }
        }
      }
    }
  }