.sponsorContent {
  width: 100%;
  margin: 0 auto;
  margin-top: 84px;
  .title {
    font-family: 'Montserrat';
    margin-left: 201px;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    color: #0E00FF;
  }
  .sponsorWrap {
    margin-top: 55px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    .sponsorItem {
      margin-right: 32px;
      margin-bottom: 25px;
      &:nth-child(7n) {
        margin-right: 0;
      }
      &:last-child {
        margin-right: auto;
      }
      .itemImg {
        width: 244px;
        height: 80px;
      }
    }
  }
}